@import "../../../styles/placeholders.scss";

.time-range-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  max-width: 1024px;
  margin: 0 auto;
  @include phone {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  &__container {
    font-weight: 700;
    div {
      margin-bottom: 5px;
      text-align: center;
    }
  }
}
